
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
allure-results
allure-report

# CI
.github

# dotenv environment variable files
.env
.env.sandbox
.env.staging

# PW CLI
.claude
.playwright-cli